.season-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.winter {
    background-color: aliceblue;
}

.summer {
    background-color: orange;
}

.season-detail.winter i {
    color: blue;
}

.season-detail.summer i {
    color: red;
}

.icon-left {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.icon-right {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
